@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  transition: background-color 0.3s ease;
}

body {
  font-family: sans-serif;
}

.dark body {
  background-color: #0f172a;
  color: white;
}